.background-image-contact {
    background-image: url('../asset/contact.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
  }

.contact-options{
  font-size: 60px;
  padding:25px;
  text-align:center;
}
.link-no-color {
  color: inherit;
  text-decoration: none;
}

.link-no-color:hover {
  color: inherit;
  font-size: 62px;
}
.Embed-container{
  width: 100%;
  height: 800px;
}