.navbar-toggler-icon{
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0,0,0, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
.Brand-FirstName{
    padding-left: 18px;
    font-size: 22px;
    font-weight: 800;
    color: black;

}
.Brand-LastName{
    font-size: 22px;
    font-weight: 800;
    color: #0d92db;
}
.bg-dark-custom{
    --bs-bg-opacity: 1;
    box-shadow: 2px;
    background: rgba(255, 255, 255, 0.226);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.041);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
}
.custom-nav-link{
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-shadow: 1px 1px 2px #00000034;
}
.active{
    color: black !important;
}
