/*Nav bar*/
nav{
    color: white;
}
.brand-name{
    font-size: 29px;
    font-family: fantasy;
    margin: 0;
    padding: 4px 30px;
}
.menu{
    padding-right: 30px;
}
.menu-list{
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
}
.menu-item{
    padding: 5px 23px;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
}
.menu-item:hover{
    padding: 5px 23px;
    border-bottom: 2px solid #fcb643;
    color: #fcb643;
    font-weight: 600;
}
.active-menu-item{
    padding: 5px 23px;
    border-bottom: 2px solid #fcb643;
    color: #fcb643;
    font-weight: 600;
}

/*--------------------------------------------------------------BANNER*/
.banner{
}
.Circle{
    background-color: #141414;
    border-radius: 50%;
}
.Circle-1{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 154px;
    left: 70px;
    z-index: -1;
}
.Circle-2{
    height: 125px;
    width: 125px;
    top: 333px;
    left: 219px;
    position: absolute;
    z-index: -1;
}
.Circle-3{
    height: 80px;
    width: 80px;
    position: absolute;
    top: 280px;
    left: 328px;
    z-index: -1;
}
.greeting{
    color: #fcb643;
    font-size: 67px;
    font-weight: 700;
}
.initials{
    color: white;
    font-size: 100px;
    padding: 0 10px 0 0;
    font-weight: 800;
}
.name{
    color: #fcb643;
    font-size: 100px;
    font-weight: 800;
}
.profession{
    color: white;
    margin: 0;
    font-size: 43px;
    font-weight: 500;
}
.hireme-btn{
    text-decoration: none;
    color: black;
    background-color: #fcb643;
    padding: 10px 15px;
    border-radius: 18px;
    font-weight: 700;
    border: 2px solid #fcb643;
    margin: 0 18px 0 0;
}
.hireme-btn:hover{
    color: #fcb643;
    background-color: transparent;
    cursor: pointer;
}
.mywork-btn{
    text-decoration: none;
    color: white;
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 18px;
    font-weight: 700;
    border: 2px solid white;
    margin: 0 18px 0 0;
}
.mywork-btn:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}
#banner-img{
    width: 66%;
}

/*Typing Effect*/
.typewriter {
    background-color: transparent;
    min-width: 500px;
    padding: 1em 2em 1em 0px;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    position: relative;
}

.typewriter p {
    color: white;
    font-weight: 500;
    width: 0;
    max-width: max-content;
    overflow: hidden;
    border-right: .05em solid #464545; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0; /* Gives that scrolling effect as the typing happens */
    position: absolute;

}

.typing-erase {
    animation: 
        typing-erase 4s steps(50, end) 0s infinite,
        blink-caret .5s step-end infinite;
}

/* The type and erase effect */
@keyframes typing-erase {
    0% { width: 0 }
    80% { width: 100% }
    90%, 100% { width: 0 }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: gray }
}
.Image-Back-figure{
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;    
    width: 69%;
    background-color: #141414;
    z-index: -1;
    position: absolute;
    top: -19px;
    left: 104px;
    height: 104%;
}
.banner-bottom-skill{
    margin: auto 0 auto -18px;
    background-color: #212529;
    border-radius: 37px 0 0 37px;
}
.skill{
    width: 40px;
    height: 40px;
}
.skill-name{
    font-size: 25px !important;
}
.bottom-bar-skill{
    border-right:3px solid rgb(0, 0, 0) ;    
    padding: 18px;
}
/*--------------------------------------------------------------Skill Section*/
.skill-container{
    margin-top: 15px;
    min-height: 500px;
    background-color: rgb(16 16 16);
}
.Experience-container{
    margin-top: 15px;
    background-image: url('../asset/ExpeBack.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.watermark{
    font-size: 296px;
    font-weight: 900;
    padding: 0 100px;
    margin: 0;
    top: -136px;
}
.section-title{
    bottom: -223px;
    left: 131px;
    color: white;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 20px;
}
.skill-content,.Experience-content{
    color: white;
    align-items: center;
    display: flex;
    padding: 74px 0;
    letter-spacing: 3px;
}
.skill-pi-circle{
    height: 175px;
    width: 175px;
}
.softskill-title{
    text-align: right;
    color: grey;
}
.softskill-list li{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 10px 0 0 10px;
    font-weight: 600;
    margin-top: 2px;
}
.otherSkills{
    color: grey;
    margin-bottom: 32px;
}

.skill-bar-inner {
    background: #6a6a6a7d;
    border-radius: 0 10px 10px 0;
    animation: growWidth 2s ease-in-out forwards;
  }
  
  @keyframes growWidth {
    from {
      width: 250px;
    }
    to {
      width: var(--width); 
    }
  }
.otherSkills-container{
    background-color: #212529;  
    border-radius: 46px 0 46px 0;
}
.languageSkills-title{
    text-align: center;
}
.svg-inline--fa,.fa-star{
    height: 25px;
}