.hero {
  background: url('https://via.placeholder.com/1500') no-repeat center center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 100px 0;
}

.hero h1 {
  font-size: 4em;
}

.hero p {
  font-size: 1.5em;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}